<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>
    <div class="fullscreen">
        <iframe src="http://www.youtube.com/embed/?listType=user_uploads&list=NicovaldG;?autoplay=1" frameborder="0" allowfullscreen></iframe>
        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/defTBV02K_Y?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> -->
        <!-- <iframe src="https://www.youtube.com/embed/defTBV02K_Y&list=UULvY3sOzYysvv5TCUsPxcIg?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> -->
    </div>
</body>

</html>
